header {
  position: relative;
  background-color: #e5ebe6;
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 991px) {
  header {
    display: block;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

header .image-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  width: 100%;
  min-height: 40vh;
}

@media (max-width: 768px) {
  header .image-container {
    display: none;
  }
}

header .image-container img {
  width: 100%;
}

@media (min-width: 1480px) {
  header .image-container img {
    margin-top: -15vh;
  }
}

@media (max-width: 991px) {
  header .image-container img {
    margin-top: -10vh;
  }
}

header .title-wrapper {
  margin-top: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

@media (max-width: 991px) {
  header .title-wrapper {
    margin-top: 0;
  }
}

header .title-wrapper .title {
  margin: auto;
}

@media (max-width: 991px) {
  header .title-wrapper .title {
    margin: 50px 0;
  }
}

@media (max-width: 479px) {
  header .title-wrapper .title {
    width: 90%;
    margin: 50px auto;
  }
}

header .title-wrapper .title h1 {
  font-family: 'e-UkraineHead-Medium', sans-serif;
  font-weight: normal;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

@media (max-width: 1280px) and (min-width: 992px) {
  header .title-wrapper .title h1 {
    font-size: calc(38px + 1vw);
    line-height: calc(40px + 1vw);
  }
}

@media (max-width: 991px) {
  header .title-wrapper .title h1 {
    font-size: 46px;
    width: 100%;
    margin: auto;
  }
}

header .logo-wrapper {
  grid-column: 1/-1;
  position: absolute;
  left: 0;
  bottom: 0;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 991px) {
  header .logo-wrapper {
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
}

header .logo-wrapper .logo-list {
  grid-column: 1/-1;
  margin: 0 auto;
  padding: 5px 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  header .logo-wrapper .logo-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
}

@media (max-width: 479px) {
  header .logo-wrapper .logo-list {
    width: 100%;
    margin: auto;
  }
}

header .logo-wrapper .logo-list img {
  height: 60%;
  margin: 0 1em 0 0;
  display: block;
  width: auto;
}

@media (max-width: 991px) {
  header .logo-wrapper .logo-list img {
    margin: 0.8em;
  }
}

header .logo-wrapper .logo-list #cyfra,
header .logo-wrapper .logo-list #usaid,
header .logo-wrapper .logo-list #eurasia {
  max-height: 40px;
  height: calc(20px + 2vw);
}

@media (max-width: 991px) {
  header .logo-wrapper .logo-list #cyfra,
  header .logo-wrapper .logo-list #usaid,
  header .logo-wrapper .logo-list #eurasia {
    height: calc(25px + 2vw);
  }
}

header .logo-wrapper .logo-list #ternopil {
  max-height: 80px;
}

header .logo-wrapper .logo-list #ukaid {
  max-height: 50px;
  height: calc(30px + 2vw);
}

@media (max-width: 991px) {
  header .logo-wrapper .logo-list #ukaid {
    height: calc(35px + 2vw);
  }
}

header .logo-wrapper .logo-list #texty {
  max-height: 20px;
}
/*# sourceMappingURL=header.css.map */