@import "header";
@import "footer";


$yellow: #F1E9DE;
$green: #e5ebe6;

@font-face {
  font-family: 'e-UkraineHead-Medium';
  src: url('../font/e-UkraineHead-Medium.eot'),
  url('../font/e-UkraineHead-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/e-UkraineHead-Medium.woff2') format('woff2'),
  url('../font/e-UkraineHead-Medium.woff') format('woff'),
  url('../font/e-UkraineHead-Medium.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'e-Ukraine-Regular';
  src: url('../font/e-Ukraine-Regular.eot'),
  url('../font/e-Ukraine-Regular.eot?#iefix') format('embedded-opentype'),
  url('../font/e-Ukraine-Regular.woff2') format('woff2'),
  url('../font/e-Ukraine-Regular.woff') format('woff'),
  url('../font/e-Ukraine-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'e-Ukraine-Medium';
  src: url('../font/e-Ukraine-Medium.eot'),
  url('../font/e-Ukraine-Medium.eot?#iefix') format('embedded-opentype'),
  url('../font/e-Ukraine-Medium.woff2') format('woff2'),
  url('../font/e-Ukraine-Medium.woff') format('woff'),
  url('../font/e-Ukraine-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'e-Ukraine-Light';
  src: url('../font/e-Ukraine-Light.eot'),
  url('../font/e-Ukraine-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/e-Ukraine-Light.woff2') format('woff2'),
  url('../font/e-Ukraine-Light.woff') format('woff'),
  url('../font/e-Ukraine-Light.ttf') format('truetype');
  font-weight: 300;
}



body {
  font-family: 'e-Ukraine-Light', sans-serif;
  margin:0;
  padding:0;
}

.hr {
  border-bottom: 1px solid black;
  margin-top: 100px;
  grid-column: 1/-1;
}


.yellow-incut {
  background-color: $yellow;  

  svg {
    grid-column:1/3;
  }
}

.green-incut {
  background-color: $green;
}


/* collapsible button */

#show-why {
  grid-column: 1/4; 
  cursor: pointer;
}

#more-why {
  grid-column: 1/4; 
  max-height: 1px; 
  overflow:hidden; 
  margin-bottom: 50px;
}

.button-black {
  cursor: pointer;
  grid-column: 1/2;
  display: block;
  margin: 30px auto 0 0 ;
  padding: 16px 40px;
  background: black;
  border-radius: 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border: 2px solid black;
  color: white;
  width: max-content;

  &:hover {
    background: black;
    color: white;

  }
}

/* collapsible arrow */

.arrow {  
  width: 80px;
  height: 80px; 
  position:relative;
  
  &:after, &:before {
    content:'';
    width:0;
    height:0;
    border-style:solid;
    border-color:transparent;
    border-left-width: 20px;
    border-right-width: 20px;
    border-top-width:15px;
    position:absolute;
    left:10px
  }
  &:before {
    border-top-color: darken(grey, 25%);
    top:15px;
  }
  &:after {
    border-top-color: #e5ebe6;
    top:13px;
  }
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}



/* main styles */

.content {
  grid-row: 1/2;
  grid-column: 1/-1;
  max-width: 1680px;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  @media(min-width: 1680px) {
    width: 1408px;
    margin: auto;
  }
  @media(min-width: 1280px) and (max-width: 1679px) {
    width: 1120px;
    margin: auto;
  }
  @media(min-width: 992px) and (max-width: 1279px) {
    width: 864px;
    margin: auto;
  }
  @media(max-width: 991px) and (min-width: 480px) {
    width: 448px;
    display: block;
  }
  @media(max-width: 479px) {
    width: 98%;
    margin: auto;
    display: block;
  }
}



/* основний текст */

h2 {
  font-family: 'e-Ukraine-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 38px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

h3 {
  font-family: 'e-Ukraine-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  letter-spacing: -0.02em;
}

h4 {
  font-family: 'e-Ukraine-Regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}

p, ul, li {
  margin: 0;
  grid-column: 1/3;
  font-family: 'e-Ukraine-Light', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.02em;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
}

.small {
  font-family: 'e-Ukraine-Light', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 20px 0;
  color: #000;
}


.text {
  margin: 10px auto ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media(min-width: 1680px){
    width: 1408px;
  }
  @media(min-width: 1280px) and (max-width: 1679px){
    max-width: 1120px;
  }
  @media(min-width: 992px) and (max-width: 1279px){
    width: 864px;
  }
  @media(max-width: 991px) and (min-width: 480px){
    width: 448px;
    display: table;
    margin: auto;
  }
  @media(max-width:479px){
    width: 90%;
    margin: 0 auto;
    display: block;
  }


  //особливості h2 для .text
  h2, h3, h4, h5 {
    grid-column: 1/3;
  }

  h5 {
    margin: 0;
    padding: 0;
    font-family: 'e-Ukraine-Regular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.02em;
    color: #000000;
  }

  p, ul, li {
    margin: 15px 0;
  }
}


/* slider */

.slider-container {
  grid-column: 1/-1;
  font-family: 'e-Ukraine-Regular', sans-serif;
  margin: 50px auto;
  width: calc(100% - 2em);
  padding: 1em;
  max-width: 1680px;
  overflow-x: hidden;
  @media(min-width: 1680px){
    width: 1408px;
  }
  @media(min-width: 1280px) and (max-width: 1679px){
    width: 1200px;
  }
  @media(min-width: 992px) and (max-width: 1279px){
    width: 800px;
  }
  @media(min-width: 991px){
    max-width: 100%;
  }
}

.slider-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-wrapper {
  max-width: 1200px;
  width: 90%;
  overflow-x: hidden;
}


.slider {
  display: flex;
  width: max-content;
  transition: margin-left 1s;


  .slider-item {
    width: 390px;
    margin-right: 10px;


    img {
      width: 100%;
    }
  }
}


/* table */

#table_wrapper {
  grid-column:1/3;
  max-width: 100%;
  margin: 50px auto;

  tr:hover {
    background-color: $green;
  }

  a {
    text-decoration: none;
    border-bottom: 0;
  }

  @media screen and (max-width: 800px) {
    table {
      border: 0;
      max-width:90vw;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left !important;
      margin-top: 40px;
      max-width: 80vw;
      
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: -30px;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
}


